header {
    background-color: beige;
    width: 100%;
    margin-top: 10px;
    position: sticky;
    top: 0;
}
#main {
    background-color: lightcyan;
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;

}
footer {
    background-color: beige;
    width: 100%;
}
#left {
    background-color: lightblue;
    width:30%;
    min-width: 200px;
    margin:0;
}
main {
    flex:1;
}
#right {
background-color: lightblue;
width:15%;
margin:0;
}